grant codebase "file:/media/matias/Documents/Universidad/VIII-Semestre/COMP512/Project/Template/Server/" {
	permission java.security.AllPermission;
};
